.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #8a2be2;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 120px;
}

.button:hover {
    background-color: #5a017e;
}

.redButton {
    background-color: #ff3333;
    width: 120px;
    margin: 0 auto;
}

.redButton:hover {
    background-color: #cc3333;
}