.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.main {
    display: flex;
    flex: 1;
}

.boxContent{
    width: 84%;
    margin-left: 16%;
}

.content {
    /* margin-left: 12%; */
    flex: 1;
    padding: 1rem;
    margin-bottom: 3rem;
}

.active {
    text-decoration: underline;
}