.formWrapper {
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #f2f2f2;
    /* box-shadow: 1px 1px 3px 3px #7700a5; */
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.formGroup {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}


.label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}



.textarea {
    width: 100%;
    height: 5rem;
    resize: vertical;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.errorMsg {
    color: #ff6666;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.error {
    border: 2px solid #ff6666;
}