.header{
    background-color: #7B5DFF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
}

.active {
    text-decoration: none;
    color: #ffffff;
}

.logo{
    margin-right: 1rem;
    margin-left: .5rem;
    font-weight: bold;
    justify-content: space-evenly;
}