.titlePage {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}

.formWrapper {
    justify-content: center;
}

.errorMsg {
    color: #ff6666;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.error {
    border: 2px solid #ff6666;
}