.table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
}

.th, .td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th {
    background-color: #f2f2f2;
}